<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Order</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .company-info {
            display: flex;
            align-items: center;
        }

        .company-details {
            font-size: 16px;
        }

        .work-order {
            text-align: right;
        }

        .work-order h2 {
            text-decoration: underline;
            margin: 0;
        }

        .work-order strong {
            font-size: 17px;
        }

        .order-date {
            text-align: right;
            margin-top: 15px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th,
        td {
            border: 1px solid #000;
            text-align: left;
            font-size: 10px;
        }

        .urgent-row {
            background-color: #e0e0e0;
            font-weight: bold;
            text-align: left;
            padding: 8px;
        }

        .title-row {
            font-weight: bold;
            text-align: center;
            font-size: 13px;
            text-decoration: underline;
        }

        .no-border {
            border: none;
        }


        .summary-title {
            font-weight: bold;
            text-decoration: underline;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .summary-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 5px;
        }

        .summary-table td:first-child {
            text-align: left;
        }

        .vertical-bar {
            width: 70px;
        }

        @media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }

            tr {
                page-break-inside: avoid;
            }
        }
    </style>
</head>

<body>
    <div class="work-order">
        <h3 style="text-align: center;">WORK ORDER</h3>
    </div>
    <div class="top-bar">
        <div class="company-info">
            <img style="width: 100px; height: 100px" src="{{logoUrl}}" alt="Logo" />
            <div class="company-details">
                <h4><strong>Turakhia Overseas Private Limited</strong><br /></h4>
            </div>
        </div>


        <div class="work-order">

            <div>Work Order No : <strong>{{order.order_no}}</strong></div>
            <div class="order-date">Order Date: <strong>{{order.orderDateFormatted}}</strong></div>
        </div>
    </div>

    <div style="display: flex;">
        <table>
            <thead>
                <tr>
                    <th>Series</th>
                    <th>Sales Itemname</th>
                    <th>Photo Number</th>
                    <th>LogX</th>
                    <th>Character</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Sheet</th>
                    <th>SqMtr</th>
                    <th>Remarks</th>
                    <th style="width: 10px;">Clip</th>
                    <th style="width: 10px;">Splice</th>
                    <th style="width: 10px;">Taping</th>
                    <th style="width: 10px;">Pressing</th>
                    <th style="width: 10px;">Dispatch</th>
                </tr>
            </thead>

            <tbody>
                <tr style="margin: 0; padding: 0;">
                    <td colspan="15" style="padding: 10px; border-bottom: none !important;">
                        <div style="display: flex; justify-content: flex-end;">
                            <div class="title-row">{{order.order_category}} {{base_type}}</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="15" style="border-top: none !important; text-align: left;">
                        <h2 style="font-weight: bold; text-decoration: underline; margin: 0;">URGENT</h2>
                        <div class="urgent-row" style="height: 15px;"></div>
                    </td>
                </tr>

                {{#each items}}
                <tr>
                    <td>{{series_name}}</td>
                    <td style="max-width: 300px; white-space: normal; word-wrap: break-word; word-break: break-word;">
                        {{sales_item_name}}</td>
                    <td>{{photo_number}}</td>
                    <td>{{group_no}}</td>
                    <td>{{character}}</td>
                    <td>{{length}}</td>
                    <td>{{width}}</td>
                    <td>{{no_of_sheets}}</td>
                    <td>{{sqm}}</td>
                    <td>{{remark}}</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="7" style="text-align: right; font-weight: bold;">Total :</td>
                    <td>{{totalSheets}}</td>
                    <td>{{totalSqMtr}}</td>
                    <td colspan="6"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="summary-title">Order Summary</div>
    <table class='summary' cellspacing='0' cellpadding='6' style='border-collapse: collapse; width: 50%;'>
        <thead>
            <tr>
                <td rowspan='{{add items.length 2}}' style='width: 100px;'></td>

                <!-- Header row -->
                <td></td>
                <td>Sheet</td>
                <td>Sq.Mtr.</td>
            </tr>
        </thead>

        <tbody>
            {{#each items}}
            <tr>
                <td class='vertical-bar'></td>
                <td style="max-width: 300px; white-space: normal; word-wrap: break-word; word-break: break-word;">
                    {{sales_item_name}}</td>
                <td style='text-align: right;'>{{no_of_sheets}}</td>
                <td style='text-align: right;'>{{sqm}}</td>
            </tr>
            {{/each}}

            <!-- Total rows -->
            <tr>
                <td class='vertical-bar'></td>
                <td style='font-weight: bold; text-align: left;'>Total</td>
                <td style='text-align: right; font-weight: bold;'>{{totalSheets}}</td>
                <td style='text-align: right; font-weight: bold;'>{{totalSqMtr}}</td>
            </tr>
            <tr>
                <td colspan='2' style='font-weight: bold; text-align: left;'>Total</td>
                <td style='text-align: right; font-weight: bold;'>{{totalSheets}}</td>
                <td style='text-align: right; font-weight: bold;'>{{totalSqMtr}}</td>
            </tr>
        </tbody>
    </table>

    <div class="approved"
        style="display: flex; justify-content: center; gap: 40px; margin-top: 150px; align-items: center; font-size: 12px; text-align: center;">
        <div>APPROVED BY: __________________</div>
        <div>RECEIVED BY: __________________</div>
    </div>
</body>

</html>